<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Chat</title>
</head>

<body>
<h1 align="center">Chat
</h1>
<form class="formUser" id="form1" name="form1" method="post" action="">
  <p align="center">
    <label for="usuario">Usuario</label>
    <input type="text" name="user" id="user" />
  </p>
  <p align="center">
    <label for="pass">Pass</label>
    <input type="text" name="pass" id="pass" />
  </p>
  <p align="center">
    <input type="submit" name="crear" id="crear" value="Crear" />
  </p>
</form>
<div align="center"><a href="/">Regresar</a>
</div> 
<p class="newUsers" align="center">&nbsp;</p>
<script src="/js/jquery.js"></script>
<script src="/js/signUp.js"></script>
</body>
</html>
